/* Princeton Orange: #e77500 */
/* Middlebury Blue: #1158a0 rgb(17,88,160) hsl(210, 81%, 35%)*/
html {
  height: 100%;
}
body {
  font-family: Helvetica;
  color: #000;
  margin: 8px;
  height: 98%;
}

.container {
  position: absolute;
  padding: 4px;
  background-color: #FFF;
  outline: none;
}

.nav {
  bottom: 15px;
  right: 15px;
}

.search {
  top: 15px;
  right: 15px;
}

.info {
  top: 15px;
  left: 15px;
  width: 250px;
}

input[type="text"] {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 8px;
  margin: 0;
  font-size: 12pt;
}
input[disabled] {
  background: #fafafa;
  cursor: not-allowed;
}
#results-box {
  max-height: 300px;
  overflow-y: scroll;
  padding: 8px 0;
  margin-top: 2px;
  border: 1px solid #aaa;
  border-radius: 4px;
}
.result {
  padding: 4px 24px;
  font-size: 11pt;
  cursor: pointer;
}
.result:hover {
  background-color: #fafafa;
}
.result.active {
  background-color: hsl(210, 81%, 45%);
  color: white;
}

table {
  width: 100%;
}
tbody {
  font-size: 12px;
  text-align: left;
  vertical-align: top;
}
tbody th {
  width: 100px;
}
tbody ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
tbody li {
  padding-bottom: 1px;
}
.td-nolittles {
  font-style: italic;
  font-weight: lighter;
}
.info-link {
  cursor: pointer;
}

#tree-box {
  width: 100%;
  height: 100%;
}

.node circle {
  fill: #999;
}

.node text {
  font: 12px sans-serif;
}

.node rect {
  fill: #FFF;
  stroke-width: 1px;
  stroke: #000;
}

.node.active rect {
  stroke: hsl(210, 81%, 45%);
  stroke-width: 3px;
}
.node.ancestor rect {
  stroke: hsl(210, 81%, 45%);
}
.node.descendant rect {
  stroke: #e77500;
}

.node.undergrad rect {
  fill: hsl(210, 81%, 97%);
}

.link {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
  image-rendering: crisp-edges;
}
.link.ancestor {
  stroke: hsl(210, 81%, 45%) !important;
}
.link.descendant {
  stroke: #e77500 !important;
}

#nav-box .link {
  stroke: #999;
}
#nav-box .dot {
  fill: hsl(210, 81%, 45%);
  stroke: none;
}
#nav-box .dot.descendant {
  fill: #e77500;
}
.brush {
  fill: #888;
  opacity: 0.4;
  stroke: none;
}