/* Color details
  Princeton Orange: #e77500 (from princeton.edu)
  Middlebury Blue: #1158a0 (from middlebury.edu)
                   rgb(17,88,160) -> hsl(210, 81%, 35%)
  Middlebury Blue @ 45%: #1673d0
  Middlebury Blue @ 97%: #f1f7fe
*/

/* Global styles */
html {
  height: 100%;
}
body {
  color: #000;
  font-family: Helvetica;
  height: 98%;
  margin: 8px;
}

/* Containers & Positioning */
.container {
  background-color: #FFF;
  padding: 4px;
  position: absolute;
}
.container:focus {
  outline: none;
}

.nav {
  bottom: 15px;
  right: 15px;
}
.search {
  right: 15px;
  top: 15px;
}
.info {
  background-color: #fafafa;
  left: 15px;
  top: 15px;
  width: 250px;
}

/* Search Box styles */
input[type="text"] {
  border: 1px solid #aaa;
  border-radius: 4px;
  font-size: 12pt;
  margin: 0;
  padding: 8px;
}
input[disabled] {
  background: #fafafa;
  cursor: not-allowed;
}
.results-box {
  border: 1px solid #aaa;
  border-radius: 4px;
  margin-top: 2px;
  max-height: 300px;
  overflow-y: scroll;
  padding: 8px 0;
}
.result {
  cursor: pointer;
  font-size: 11pt;
  padding: 4px 24px;
}
.result:hover {
  background-color: #fafafa;
}
.result-selected, .result-selected:hover {
  background-color: #1673d0;
  color: white;
}

/* Info Box styles */
table {
  width: 100%;
}
tbody {
  font-size: 12px;
  text-align: left;
  vertical-align: top;
}
tbody th {
  width: 100px;
}
tbody ul {
  list-style: none;
  margin: 0;
  max-height: 100px;
  overflow-y: scroll;
  padding: 0;
}
tbody li {
  padding-bottom: 1px;
}
.subhead {
  background-color: #dadada;
  text-align: center;
}
.subhead th {
  padding: 4px;
}
.td-nolittles, .td-noactives {
  font-style: italic;
  font-weight: lighter;
}
.info-link {
  cursor: pointer;
}

/* SVG Styles - Main Tree & Nav Box */
.node circle {
  fill: #999;
}
.node text {
  font: 12px sans-serif;
}
.node rect {
  fill: #FFF;
  stroke: #000;
  stroke-width: 1px;
}
.node-active rect {
  stroke: #1673d0;
  stroke-width: 3px;
}
.node-ancestor rect {
  stroke: #1673d0;
}
.node-descendant rect {
  stroke: #e77500;
}
.node-undergrad rect {
  fill: #f1f7fe;
}

.link {
  fill: none;
  image-rendering: crisp-edges;
  stroke: #000;
  stroke-width: 1px;
}
.link-nav {
  stroke: #999;
}
.link-ancestor {
  stroke: #1673d0;
}
.link-descendant {
  stroke: #e77500;
}

.dot {
  fill: #1673d0;
  stroke: none;
}
.dot-descendant {
  fill: #e77500;
}
.brush {
  fill: #888;
  opacity: 0.4;
  stroke: none;
}